.wrapper {
  margin: 0 20px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.forms {
}

#calculator {
  border: 3px solid #FFF;
  border-radius: 20px;
  text-align: center;
  padding: 20px 0;
  // margin: 20px 250px;
}

#calculated {
  background-color: #FFF;
  color: #4b6cb7;
  border: 3px solid #FFF;
  border-radius: 20px;
  text-align: center;
  padding: 20px 0;

}

input {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: solid 2px #FFF;
  padding: 4px;
  margin: 8px;
  border-radius: 20px;
  font-size: 24px;
  width: 43px;
}

select {
-webkit-appearance: none;
  padding: 5px 2px 5px 2px;
  margin: 10px;
  outline: none;
  text-align: left;
}

button {
  border: none;
  background-color: #88a2d7;
  padding: 10px 60px;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

body {
  padding: 0;
  margin:  0 auto;
}

.lato {
  font-family: 'Lato';
}

.white {
  color: #FFF;
}

p {
  text-align: center;

}

h2 {
  text-align: center;
}
