input {
  outline: none;
  appearance: none;
  border: none;
  width: 43px;
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
}

button {
  border-radius: 5px;
  border: none;
  outline: none;
}

.lato {
  font-family: 'Lato';
}

.uppercase {
  text-transform: uppercase;
}

.open-sans {
  font-family: 'Open Sans';
}

.grey {
  color: #D1D1D1;
}

.bg-blue {
  background-color: #0096F9;
}

.white {
  color: #FFF;
}